<div class="box">
    <h3>We have received your bookings!</h1>
        <p><b>Dear {{ titleName }}</b></p>
        <div>
            <p>Your flight reservation has been received. Please complete your payment within 24 hour.</p>
            <p>You can find your reservation details below.</p>
        </div>
        <hr>
        <h4>Departure Flights</h3>
        <h5>Soekarno Hatta International Airport (CGK) - I Gusti Ngurah Rai International Airport (DPS)</h5>
    </div>
</div>