<%- include('./includes/header.ejs') %>

<style>
  .content {
        background-color: white;
        max-width: 50vw;
        padding: 2em;
      }
</style>
<div class="content">
  <h3>Hello, Kamu</h3>
  <p>We are so glad you signed up for Flypass!<p>
  
</div>

<%- include('./includes/footer.ejs') %>