<style>
  footer {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;
    font-size: 14px;
  }
</style>

<footer>
  <div>
    <p>This email is automatically sent to you</p>
    <p>© 2022 Flypass. All Rights Reserved</p>
  </div>
</footer>



</html>