<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins"
    />
  </head>
  <style>
    * {
      font-family: "Poppins";
      max-width: 50vw;
      margin: auto;
    }
    html {
      background-color: #e6eaed;
    }
    .head {
      background-color: #007AFF;
      padding: 1em 0;
      margin: auto;
      display: flex;
    }
  </style>
  <div class="head"><svg width="100" height="40" viewBox="0 0 133 42" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_190_3114)">
    <path d="M90.5687 12.2377C89.35 12.7814 87.4562 13.8314 85.3187 15.0502L75.0812 13.6252C74.5067 13.5423 73.9211 13.5832 73.3637 13.7452L71.1419 14.3752C70.9544 14.3752 70.9544 14.5627 71.1419 14.6377L79.6919 18.3877C76.8044 20.1127 74.2356 21.6877 73.1106 22.4002C72.9099 22.5263 72.6838 22.6064 72.4484 22.635C72.2131 22.6635 71.9744 22.6396 71.7494 22.5652L69.5106 21.8564C69.1551 21.7296 68.7665 21.731 68.4119 21.8602L66.9981 22.4377L71.7231 26.3752C71.9606 26.5744 72.2496 26.7027 72.5567 26.7451C72.8638 26.7876 73.1767 26.7425 73.4594 26.6152C75.7169 25.6064 81.6606 22.8689 86.0856 20.5627C95.9106 15.3502 96.9981 14.4502 96.9981 13.6252C96.9981 12.3314 93.2481 11.0002 90.5669 12.2377H90.5687ZM67 32.3752H97V34.2502H67V32.3752Z" fill="white"/>
    </g>
    <path d="M2.29545 31V7.72727H17.2045V11.2614H6.51136V17.5795H16.1818V21.1136H6.51136V31H2.29545ZM24.9773 7.72727V31H20.8636V7.72727H24.9773ZM31.7642 37.5455C31.2036 37.5455 30.6847 37.5 30.2074 37.4091C29.7377 37.3258 29.3627 37.2273 29.0824 37.1136L30.0369 33.9091C30.6354 34.0833 31.1695 34.1667 31.6392 34.1591C32.1089 34.1515 32.5218 34.0038 32.8778 33.7159C33.2415 33.4356 33.5483 32.9659 33.7983 32.3068L34.1506 31.3636L27.821 13.5455H32.1847L36.2074 26.7273H36.3892L40.4233 13.5455H44.7983L37.8097 33.1136C37.4839 34.0379 37.0521 34.8295 36.5142 35.4886C35.9763 36.1553 35.3172 36.6629 34.5369 37.0114C33.7642 37.3674 32.84 37.5455 31.7642 37.5455ZM47.8267 31V7.72727H56.554C58.3419 7.72727 59.8419 8.06061 61.054 8.72727C62.2737 9.39394 63.1941 10.3106 63.8153 11.4773C64.4441 12.6364 64.7585 13.9545 64.7585 15.4318C64.7585 16.9242 64.4441 18.25 63.8153 19.4091C63.1866 20.5682 62.2585 21.4811 61.0312 22.1477C59.804 22.8068 58.2926 23.1364 56.4972 23.1364H50.7131V19.6705H55.929C56.9744 19.6705 57.8305 19.4886 58.4972 19.125C59.1638 18.7614 59.6563 18.2614 59.9744 17.625C60.3002 16.9886 60.4631 16.2576 60.4631 15.4318C60.4631 14.6061 60.3002 13.8788 59.9744 13.25C59.6563 12.6212 59.16 12.1326 58.4858 11.7841C57.8191 11.428 56.9593 11.25 55.9062 11.25H52.0426V31H47.8267Z" fill="white"/>
    <path d="M112.909 21.1591L109.159 21.5682C109.053 21.1894 108.867 20.8333 108.602 20.5C108.345 20.1667 107.996 19.8977 107.557 19.6932C107.117 19.4886 106.58 19.3864 105.943 19.3864C105.087 19.3864 104.367 19.572 103.784 19.9432C103.208 20.3144 102.924 20.7955 102.932 21.3864C102.924 21.8939 103.11 22.3068 103.489 22.625C103.875 22.9432 104.511 23.2045 105.398 23.4091L108.375 24.0455C110.027 24.4015 111.254 24.9659 112.057 25.7386C112.867 26.5114 113.277 27.5227 113.284 28.7727C113.277 29.8712 112.955 30.8409 112.318 31.6818C111.689 32.5152 110.814 33.1667 109.693 33.6364C108.572 34.1061 107.284 34.3409 105.83 34.3409C103.693 34.3409 101.973 33.8939 100.67 33C99.3674 32.0985 98.5909 30.8447 98.3409 29.2386L102.352 28.8523C102.534 29.6402 102.92 30.2348 103.511 30.6364C104.102 31.0379 104.871 31.2386 105.818 31.2386C106.795 31.2386 107.58 31.0379 108.17 30.6364C108.769 30.2348 109.068 29.7386 109.068 29.1477C109.068 28.6477 108.875 28.2348 108.489 27.9091C108.11 27.5833 107.519 27.3333 106.716 27.1591L103.739 26.5341C102.064 26.1856 100.826 25.5985 100.023 24.7727C99.2197 23.9394 98.822 22.8864 98.8295 21.6136C98.822 20.5379 99.1136 19.6061 99.7045 18.8182C100.303 18.0227 101.133 17.4091 102.193 16.9773C103.261 16.5379 104.492 16.3182 105.886 16.3182C107.932 16.3182 109.542 16.7538 110.716 17.625C111.898 18.4962 112.629 19.6742 112.909 21.1591ZM130.472 21.1591L126.722 21.5682C126.616 21.1894 126.43 20.8333 126.165 20.5C125.907 20.1667 125.559 19.8977 125.119 19.6932C124.68 19.4886 124.142 19.3864 123.506 19.3864C122.65 19.3864 121.93 19.572 121.347 19.9432C120.771 20.3144 120.487 20.7955 120.494 21.3864C120.487 21.8939 120.672 22.3068 121.051 22.625C121.438 22.9432 122.074 23.2045 122.96 23.4091L125.938 24.0455C127.589 24.4015 128.816 24.9659 129.619 25.7386C130.43 26.5114 130.839 27.5227 130.847 28.7727C130.839 29.8712 130.517 30.8409 129.881 31.6818C129.252 32.5152 128.377 33.1667 127.256 33.6364C126.134 34.1061 124.847 34.3409 123.392 34.3409C121.256 34.3409 119.536 33.8939 118.233 33C116.93 32.0985 116.153 30.8447 115.903 29.2386L119.915 28.8523C120.097 29.6402 120.483 30.2348 121.074 30.6364C121.665 31.0379 122.434 31.2386 123.381 31.2386C124.358 31.2386 125.142 31.0379 125.733 30.6364C126.331 30.2348 126.631 29.7386 126.631 29.1477C126.631 28.6477 126.438 28.2348 126.051 27.9091C125.672 27.5833 125.081 27.3333 124.278 27.1591L121.301 26.5341C119.627 26.1856 118.388 25.5985 117.585 24.7727C116.782 23.9394 116.384 22.8864 116.392 21.6136C116.384 20.5379 116.676 19.6061 117.267 18.8182C117.866 18.0227 118.695 17.4091 119.756 16.9773C120.824 16.5379 122.055 16.3182 123.449 16.3182C125.494 16.3182 127.104 16.7538 128.278 17.625C129.46 18.4962 130.191 19.6742 130.472 21.1591Z" fill="white"/>
    <defs>
    <clipPath id="clip0_190_3114">
    <rect width="30" height="30" fill="white" transform="translate(67 8)"/>
    </clipPath>
    </defs>
    </svg>
    </div>
</html>
